{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Sistema educativo</h1>
        El sistema educativo es el cimiento sobre el cual se construyen las mentes del mañana, por lo que su fortaleza y accesibilidad son fundamentales para el desarrollo y el progreso de la sociedad."
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar sesión 
        </a>
        <a class="btn btn-dark" href="/signup/">
            Registrarse
        </a>
    </div>
    </section>
</main>
{% endblock %}

